vsg-typesd.defs
vsg-typesf.defs
vsg.c
vsg.override
vsgconstantsd.c
vsgconstantsd.h
vsgconstantsf.c
vsgconstantsf.h
vsgd.defs
vsgd.override
vsgf.defs
vsgf.override
vsgmatrix3d.override
vsgmatrix3f.override
vsgmatrix4d.override
vsgmatrix4f.override
vsgprtree2d.override
vsgprtree2f.override
vsgprtree3d.override
vsgprtree3f.override
vsgquaterniond.override
vsgquaternionf.override
vsgvector2d.override
vsgvector2f.override
vsgvector3d.override
vsgvector3f.override
